## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [23]:
z = 5 + 4 * 9 % (3 + 1) / 6 - 1
print(z)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [3]:
a = int(input("Enter the Number :- "))
if a%2 == 0:
    print("The Number provided is Even")
else:
    print("The Number provided is Odd")

Enter the Number :- 226
The Number provided is Even

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [9]:
a = int(input("Enter the Number :- "))
for i in range (1,11):
    print (a, 'x', i, '=', a*i)

Enter the Number :- 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [35]:
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        print(i, end =', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [158]:
L = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

str_data = 0
int_data = 0
bool_data = 0
float_data = 0

for i in L:
    if type(i) == str:
        str_data += 1
    elif type(i) == int:
        int_data += 1
    elif type(i) == bool:
        float_data += 1
    else: 
        bool_data += 1
print({'str_data' : str_data , 'int_data' : int_data , 'bool_data' : bool_data, 'float_data' : float_data})

{'str_data': 4, 'int_data': 5, 'bool_data': 2, 'float_data': 1}

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [27]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
print(list1)

result = sum(filter(lambda i: isinstance(i,int),list1))
result1 = result + sum(filter(lambda j: isinstance(j,float),list1))
print('sum of numeric datatypes from the above list', result1)

[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
sum of numeric datatypes from the above list 22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [32]:
list_2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
'-'.join(filter(lambda x: type(x) == str, list_2))

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [31]:
List_3 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
def my_function(x):
    
    dict1 = {}
    
    dict1['sum of all numbers '] = sum ([float(i) for i in x if type(i) == int or type(i) == float])
    dict1['count of all strings'] = len([str(i) for i in x  if type(i) == str])
    return dict1

my_function(List_3)

{'sum of all numbers ': 21.5, 'count of all strings': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [146]:
# i. Use loops to get the answer

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
li_new = []

for i in li:
    if i%2!=0:
        li_new.append(i)       
print(li_new)

[5, 7, 97, 77, 23, 73, 61]

In [57]:
# ii. Use list comprehensions

li_new_1 = [li[i] for i in range(len(li)) if li[i]%2!=0 ]
print(li_new_1)

[5, 7, 97, 77, 23, 73, 61]

In [100]:
# iii. Use lambda function with filter

li_new_2 = list(filter(lambda x: (x % 2 != 0), li))
print(li_new_2)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [1]:
import statistics 

a = input("Enter the values : ")
b = a.split(',')

def my_func():
    
    print("Sum of the given values : " , sum(b))
    print("Count of the given values : " , len(b))
    print("Min of the given values : " , min(b))
    print("Mean of the given values : " , statistics.mean(b))
    print("Max of the given values : " , max(b))
    
for i in range(len(b)):
    b[i] = int(b[i])
    
my_func()

Enter the values : 1,2,3,4,5,6
Sum of the given values :  21
Count of the given values :  6
Min of the given values :  1
Mean of the given values :  3.5
Max of the given values :  6

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [193]:
def function_area(shape, **kwargs):
       if shape == 'square':
            if 'side' in kwargs.keys():
                area = kwargs['side']**2
                return area
            else:
                print('You need to provide side of the argument')
       
       elif shape == 'rectangle':
            if 'length' in kwargs.keys() and 'breadth' in kwargs.keys():
                area = kwargs['length'] * kwargs['breadth']
                return area
            else:
                print('You need to provide length and breadth of the argument')
    
       else: 
            if 'radius' in kwargs.keys():
                area = 3.147 * kwargs['radius'] **2
                return area
            else: 
                print('you need to provide radius of the argument')
function_area('rectangle' , length = 3, breadth = 7)

21

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [191]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

output = {}

def my_function(x1,x2):
    output['Matched List'] = list(set(x1).union(set(x2)))
    output['List Only in l1'] = list(set(x1).difference(set(x2)))
    output['List Only in l2'] = list(set(x2).difference(set(x1)))
    return output

print(my_function(l1,l2))

{'Matched List': ['February', 'April', 'September', 'January', 'October', 'May', 'June', 'March', 'December'], 'List Only in l1': ['May', 'March', 'September'], 'List Only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [149]:
Y = input("Enter the number : ")
def my_func(i):
    if (i==1):
        return False
    elif (i==2):
        return True
    else:
        for x in range(2,i):
            if(i % x==0):
                return False
            return True
print(my_func(x))

Enter the number : 57
False

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [308]:
while True:
    try:
        num = int(input("Enter a number: "))
        break
    except:
        print("Please Enter a valid number")

factorial = 1
result = []

if num < 0:
    print("The factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    
    for i in range(1,num + 1):
        factorial = factorial * i
        result.append(factorial)
        
print("Factorial of ", num, "is ", result)

Enter a number: 9
Factorial of  9 is  [1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [262]:
B = int(input('Enter the number : '))

Dict = {}
for i in range(1, B+1):
    Dict[i] = i*i

print(Dict)

Enter the number : 7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [267]:
C = (input("Enter the given numbers : "))
list_1 = C.split(',')
tuple_1 = tuple(list_1)

    
print(list_1, end = ' ')
print(tuple_1)

Enter the given numbers : 5,4,143,87,55,97
['5', '4', '143', '87', '55', '97'] ('5', '4', '143', '87', '55', '97')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [291]:
D = input("Enter the input as comma separated sequence of words : ")

D_1 = D.split(',')

E = sorted(set(D_1))

print(E)

Enter the input as comma separated sequence of words : Green, Red, Orange, Blue, Purple
[' Blue', ' Orange', ' Purple', ' Red', 'Green']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [298]:
A = input("Type the words:- ")
A_1 = A.split(' ')

word = []
for i in A_1:
    if i not in word:
        word.append(i)
    else:
        continue
word.sort()
print((' ').join(word))

Type the words:- this book belongs to this student who's name is Adam
Adam belongs book is name student this to who's

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [192]:
sentense = input('Enter a sentence : ')
sentense = list(sentense)

upper,lower = 0 , 0

for i in sentense:
    if i.isupper():
        upper = upper + 1
        
    if i.islower():
        lower = lower + 1
    else:
        pass
        
print('UPPER CASE ',upper,'LOWER CASE ',lower)

Enter a sentence : ThisMightbetheBIGCase
UPPER CASE  6 LOWER CASE  15

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [203]:
Y = (input("Enter the values : ")) [::-1]
print(Y)

Enter the values : abcd123
321dcba